body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.card .card-header {
  background-color: rgb(200, 200, 200);
  padding: 4px 8px;
  text-align: center;
  width: 251px;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.card .card-body img {
  height: 120px;
}

.categories {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  min-height: 90vh;
}

.categories label {
  margin: 3px;
}

.cart-img, .cart-button {
  width: 32px;
}

.cart-button {
  height: 32px;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: calc(100% - 320px);
}


